<div class="row mb-2">
<div class="col-12">
<h1 class="display-6 mb-4"> Places</h1>
</div>

<div class="row mb-2">
<div class="col-12">
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>
</div>

<p>
  <a class="btn btn-success" href="/places/new">New place</a>
</p>